.box{
    height: 500px;
    width: 500px;
    background-color: red;
}

.card-content{
    width: 100%!important;
}

.align-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.weather-icon-wrap{
    height:200px;
    width: 200px;
    display: block;
    text-align: center;
}

.weather-today-card-section{
    display: flex;
    flex-direction: column;
   
}

.highlihts-icon{
    height: 20px;
    width: 20px;
    object-fit: contain;
}
.today-weather-card{
    flex-direction: column;
}

.weather-highlights p{
    display: flex;
 margin-bottom: 0;
}



.weather-highlights p span{
    display: flex;
    align-items: center;
}
.weather-highlights p span img{
   margin-right: 10px;
}

.weather-highlights > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.15);
  padding: 10px 0;
}

.header-today-weather-card{
    justify-content: space-between;
    margin-bottom: 20px;
}

.weather-highlights{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.forecast-main-container{
    justify-content: space-between;
}

.display-flex{
    display: flex;

}


.forecast-main-container{
    display: block;
}

.justify-space-around{
    justify-content: space-around;
    align-items: center;
}


.forecast-main-container{
margin-bottom: 20px;

}
.forecast-main-container h2{
    text-align: center;
    text-transform: capitalize;
}

.hourly-wrapper{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.hourly-cards{
    width: 70%;
    display: flex;
    justify-content: space-around;
}

.flex-wrap{
    flex-wrap: wrap;
}