.display-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: var(--neutral-700);
}